*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

dialog {
  border: none;
  color: #202020;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  visibility: visible;

  &::backdrop {
    background: rgb(32 32 32 / 40%);
  }

  &:not([open]) {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
}
